

body {
  min-height: 100vh;
  background-image: linear-gradient(rgb(232, 93, 93), rgb(215, 215, 59));
}


h1 {
  text-align: center;
  color: rgb(96, 71, 120);
}

/* .submitted{
  display: none;
} */


#task-list .tasks {
  margin: 20px 0;
  padding: 10px;
  border: 3px solid rgb(193, 171, 171);
  color: white;
  background-color: rgb(126, 120, 120);
}