

body {
  font-weight: bold;
  min-height: 100vh;
  background-image: linear-gradient(rgb(232, 93, 93), rgb(215, 215, 59));
  font-family: 'Dela Gothic One', cursive;
}


h1 {
  text-align: center;
  color: rgb(96, 71, 120);
}


#task-list .tasks {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 10px;
  line-height: 2.5;
  border: 3px solid red;
}